:root {
    .home {
      background-repeat: no-repeat;
      background-image: url(/assets/img/bg.svg);

      .hero img {
        border-radius: 500px;
      }

      .features {
        border: 0 !important;
      }

      .footer {
        border: 0 !important;
      }
    }

    --homepage-width: 1920px;
    --c-brand: #0288f5;
    --c-brand-light: #34a4ff;
    --c-tip: #0288f5;
    --t-color: 0.5s ease;
    --t-transform: 0.5s ease;

    //--search-input-width: 12rem !important;
    //--search-result-width: 20rem !important;

    .sidebar-item.sidebar-heading.active {
      background: #a0d0f7;
      transition: color 0.15s ease;
      font-weight: 600;
      color: var(--c-text-accent);
      //border-left: 0;
      border-left: 5px solid;
      border-left-color: var(--c-text-accent);
    }

    .code-group__nav-tab-active {
        border-bottom: var(--c-brand) 5px solid;
    }
}