:root {
    .home {
        background: url(/assets/img/bg.svg)  50%/cover no-repeat;
        .hero img{
            border-radius: 500px;
        }
        .features{
            border:0 !important;
        }
        .footer{
            border:0 !important;
        }
    }

    --homepage-width: 1920px;
    --c-brand: #0288f5;
    --c-brand-light: #34a4ff;
    --c-tip: #0288f5;
    --t-color: 0.5s ease;
    --t-transform: 0.5s ease;
    .sidebar-item.sidebar-heading.active{
        background: #a0d0f7;
        transition: color 0.15s ease;
        font-weight: 600;
        color: var(--c-text-accent);
        border-left:0;
        border-right: 5px solid;
        border-right-color: var(--c-text-accent);
    }
  }